kroovybanapp/web-app/WEB-INF/classes
kroovybanapp/web-app/WEB-INF/tld
kroovybanapp/plugins/core/
kroovybanapp/stacktrace.log
kroovybanapp/target/stacktrace.log
kroovybanapp/target
kroovybanapp/cobertura.ser
*~

/kroovybanapp/.settings/
dsl/vfs/build
dsl/vfs/bin
dsl/vfs/dist
dsl/vfs/.*
.settings
.classpath
.project
